body {
    background-color: whitesmoke;
}

.gallery {
    display: flex;
}

.galleryItem {
    padding: 0 10px;
    color: blue;
}

.galleryItem img {
    padding: auto;
    width: 200px;
}

.section {
    padding: 3px 6px;
}

.header {
    color: blue;
    background-color: palegoldenrod;
    padding: 0 5px;
    display: flex;
    height: 150px;
}

.header img {
    margin: 5px;
    width: 150px;
}
